@model ContosoUniversity.Models.ShoppingCartViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2><span class="glyphicon glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h2>


<div class="container">
    @foreach (var item in Model.CartItems)
    {
        <div class="row" style="border-bottom: solid 1px #ccc; padding: 10px">
            <div class="col-sm-12 col-lg-2" style="text-align:center">
                <img src="~/images/@item.Book.Image" style="width: 120px" />
            </div>

            <div class="col-sm-12 col-lg-6">
                <ul>
                    <li style="color: #0066C0; font-weight:bold">@item.Book.Name</li>
                    <li style="color: #739900"><span class="glyphicon glyphicon-ok"></span> In Stock</li>
                    <li>Order <span style="font-weight: bold">now</span> and it ships <span style="font-weight: bold">tomorrow</span>!</li>
                    <li><a asp-action="RemoveFromCartBtn" asp-controller="ShoppingCart" asp-route-id="@item.Book.ID" class="btn btn-warning">Remove</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-lg-2" style="text-align: right">
                <a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Book.ID"><span class="glyphicon glyphicon-minus-sign"></span></a>
                <span>@item.Count</span>
                <a asp-action="AddToCartButton" asp-controller="ShoppingCart" asp-route-id="@item.Book.ID"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>

            <div class="col-sm-12 col-lg-2" style="text-align: right; color: #E84F05; font-weight: bold">
                NZD @item.Book.Price
            </div>

        </div>
    }
    @if (Model.CartItems.Count > 0)
    {
        <div class="row" style="text-align:right">
            <div class="col-sm-12 col-lg-10" style="font-weight: bold">
                <ul>
                    <li>Sub Price :</li>
                    <li>GST (15%) :</li>
                    <li>Total Price :</li>
                </ul>
                <a class="btn btn-danger" asp-action="EmptyCart" asp-controller="ShoppingCart">
                    Empty Cart <span class="glyphicon glyphicon-step-forward"></span>
                </a>
            </div>
            <div class="col-sm-12 col-lg-2">
                <ul style="color: #E84F05; font-weight: bold">
                    <li>NZD @Model.SubTotal</li>
                    <li>NZD @Model.GST</li>
                    <li>NZD @Model.GrandTotal</li>
                </ul>
                <a class="btn btn-success" asp-action="Create" asp-controller="Orders">
                    Checkout <span class="glyphicon glyphicon-step-forward"></span>
                </a>                
            </div>
        </div>
    }
    else
    {
        <h3 style="text-align: center">Shopping Cart Is Empty!</h3>
    }
</div>

